server:
  port: 7900
spring:
  jpa:
    generate-ddl: false
    show-sql: true
    hibernate:
      ddl-auto: none
  datasource:
    platform: h2
    schema: classpath:schema.sql
    data: classpath:data.sql
  application:
    name: microservice-serprovider-user-eurekaclient  #in lower-case letters


logging:
  level:
    root: INFO
    org.hibernate: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.type.descriptor.sql.BasicExtractor: TRACE
    com.itmuch: DEBUG
    
#eureka client new add
eureka:
  client:
    service-url:
      defultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true   #set show ipadress
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
      

  